backports.functools-lru-cache==1.5
boto==2.48.0
cloudpickle==0.7.0
cvxopt==1.2.0
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
h5py==2.9.0
Keras==1.2.2
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.2
numpy==1.14.5
opencv-contrib-python==3.4.1.15
opencv-python==3.4.1.15
Pillow==5.2.0
pydot==1.1.0
pyparsing==2.2.0
PySMT==0.7.5
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.12
scipy==1.1.0
six==1.11.0
stopit==1.1.2
subprocess32==3.5.2
Theano==0.9.0
toolz==0.9.0
z3==0.2.0
